@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&family=Signika:wght@600&display=swap');
body {
	
	font-size: 20px;
font-family: 'Red Rose', cursive;
 background: url(img/strona1_pattern.jpg);
    background-size: cover;
    border-color: transparent;
    max-width: 100%;
}



.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}
@media (max-width:1200px){ 
    .container{
        max-width: 970px;
    }
}@media (max-width:992px){ 
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px){ 
    .container{
        max-width: none;
    }
}
    

h2{
background-color: #fff466;
 font-family: 'Red Rose', cursive;
    margin: auto;
    padding: 10px;
    color: #8825af;
    border-radius: 5px;
    
    
}
.question {
	display: block;
	font-size: 20px;
}

.btn {
	margin: 0 20px 0 20px;
}

.btn-agree {
	   color: #8825af;
}


.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
	background-color: #fff466;

}

.btn-disagree {
	color: #8825af;;
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
	background-color: #fff466;

}

.btn-neutral{
   
       color: #8825af;
}

.btn-neutral.active,
.btn-neutral:active,
.btn-neutral:focus,
.btn-neutral:active:focus,
.btn-neutral.active:focus,
.btn-neutral:hover {
	background-color: #fff466;
}

.btn-primary  {
    color: #fff;
    background-color: #8825af;
    border-color: #3a1751;
    
}

.btn-lg:focus:active{
     background-color: #914ca7;
    border-color: #3a1751;
}
.btn-primary:hover {
    color: #fff;
    background-color: #8825af;
    border-color: #3a1751;
}


.bottom {
	margin-bottom: 20px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* RESULTS */
.results {
	margin-bottom: 40px;
	margin-top: 40px;
}

.list-group-item.question{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background: url(img/white.png) no-repeat;
    background-size: cover;
    color:darkred;
    border: 0px solid transparent;
    
}

p{
    background-color: white;
       color: #8825af;
    padding: 1%;
    border-radius: 5px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}